@model Lab1_MontenegroMonzón_1229918.Models.Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista5</title>
</head>
<body>
    <div>
        <label>Nombre: @Model.nombre<br /></label>
        <label>ID: @Model.Id<br /></label>
        <label>Estudio: @Model.estudio<br /></label>
        <label>Puntuación: @Model.puntuacion<br /></label>
    </div>
</body>
</html>
