@model Lab2_1229918.Models.Empleados

@{
    ViewBag.Title = "eliminarPila";
}

<h2>eliminarPila</h2>
<form action="apilar" method="post" aling="right">
    <input type="submit" name="enviar" value="Volver a la Pila" />
</form>
