@model Lab2_1229918.Models.Empleados

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mostrar</title>
</head>
<body>
    <div>
        <form action="info" method="post">
            <label>Nombre: <input type="text" name="nombre" value=" " /></label><br />
            <label>ID: <input type="number" name="id" value=" " /></label><br />
            <label>¿Esta en la oficina?</label><input type="checkbox" name="oficina" />
            <input type="submit" name="enviar" value="Enviar" />
        </form>
    </div>
</body>
</html>
